@import url(modern-normalize.css);

:root {
  line-height: 1.5;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
}

* {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --dark-navy-blue: #1a1a2e;
    --deeper-blue: #16213e;
    --soft-dark-gray: #222232;
    --neutral-dark-gray: #242424;
    --medium-slate-gray: #3a3a4a;
    --darker-slate-gray: #2d2d3d;
    --light-gray: #e0e0e0;
    --pale-gold: #fdde6c;
    --burnt-crimson: #570f14;
    --warm-alabaster: #eee7dd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: var(--dark-navy-blue);
    color: var(--light-gray);
    min-height: 2rem;
    text-align: center;
    
}

main {
    flex-grow: 1;
    background-color: var(--soft-dark-gray);
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
}

.card-container {
    max-width: 1400px;
    width: 100%;
    background-color: var(--medium-slate-gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    align-items: baseline;
    padding: 2rem;
    gap: 2rem;
}

.card {
    background-color: var(--warm-alabaster);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--burnt-crimson);
    min-height: 27.5rem;
}

.card.known {
    border: 6px solid #3a0a0d;
}

.card-header {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--medium-slate-gray);
    margin: 0.55rem 0.8rem 0.25rem 0.8rem;
    align-items: center;
}

.card-info {
    flex: 1;
    margin: 0 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.spell-stats {
    border-bottom: 2px solid var(--medium-slate-gray);
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

.spell-name,
.spell-spec,
.spell-trait {
    text-transform: uppercase;
    font-weight: bold;
}

.spell-name {
    max-width: 40%;
}

.spell-traits-wrapper {
    display: flex;
    gap: 0.1rem;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}

.spell-trait {
    color: var(--warm-alabaster);
    background-color: var(--burnt-crimson);
    border: 4px solid var(--pale-gold);
    padding: 0.1em 0.8em;
}

.stat-name {
    font-weight: bold;
}

.card-footer {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.2rem;
}

.card-footer button {
    text-align: center;
    background-color: #e0d8ce;
    border: 1px solid #c4bbb0;
}

.card-footer button:hover {
    background-color: #d2c9be;
}

.card-footer button:active {
    background-color: #b8aea2;
    transform: scale(0.98);
}

.spell-id {
    display: none;
}

.form-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000aa;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 1400px;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-row div {
    width: 100%;
}
.form-row input[type="text"] {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    height: 4rem;
}
