@import url(modern-normalize.css);

:root {
  line-height: 1.5;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

* {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --dark-navy-blue: #1a1a2e;
    --deeper-blue: #16213e;
    --soft-dark-gray: #222232;
    --neutral-dark-gray: #242424;
    --medium-slate-gray: #3a3a4a;
    --darker-slate-gray: #2d2d3d;
    --blood-red: #5e1a1a;
    --deep-emerald: #1a3a2a;
    --midnight-blue: #1a2a3a;
    --mustard-gold: #4a3a1a;
    --light-gray: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: var(--dark-navy-blue);
    color: var(--light-gray);
    min-height: 2rem;
    text-align: center;
    
}

main {
    flex-grow: 1;
    background-color: var(--soft-dark-gray);
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
}

.content-container {
    max-width: 1400px;
    width: 100%;
    background-color: var(--medium-slate-gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    padding: 40px 0;
    gap: 40px;
    justify-content: space-evenly;
}

.card {
    background-color: var(--light-gray);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.spell-control,
.spell-components {
    display: flex;
    gap: 0.5rem;
}

.card-text,
.card-footer {
    margin: 0 30px 30px 30px;
}

.card-text {
    flex: 1;
}

.spell-name {
    font-size: 1rem;
    font-weight: bold;
}

.spell-school,
.spell-level {
    font-size: 0.6rem;
}

.red {
    border: 12px solid var(--blood-red);
}

.green {
    border: 12px solid var(--deep-emerald);
}

.blue {
    border: 12px solid var(--midnight-blue);
}

.yellow {
    border: 12px solid var(--mustard-gold);
}

.spell-status,
.spell-delete,
.component-placeholder {
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}